section#repos {
  display: flex;
  position: relative;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--text-color);
  align-items: center;
  article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    header {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        font-size: 1.2em;
        max-width: 350px;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        font-size: 0.9em;
        padding: 3px 8px;
        border-radius: 0.5rem;
        border: 1px solid var(--text-color);
        margin-left: auto;
      }
    }
    footer {
      display: flex;
      align-items: center;
      gap: 10px;
      a,
      button {
        width: 33px;
        height: 33px;
        display: inline-flex;
        padding: 5px;
        border-radius: 0.5rem;
        border: 1px solid var(--text-color);
        img {
          opacity: 0;
          width: 20px;
          transform: translateY(5px);
          position: absolute;
          /* Opcional: para evitar que ocupe espacio, usa position absolute si el layout lo permite */
        }
      }
      button {
        margin-left: auto;
        cursor: pointer;
        background: transparent;
        padding: 5px 10px;
        width: auto;
      }
      a:hover {
        img {
          transform: translateY(0);
          opacity: 1;
          transition: opacity 0.1s, transform 0.3s;
        }
        svg {
          display: none;
        }
      }
    }
  }
}
