<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/search-logo.png" />
    <title>Buscador GitHub</title>
    <link rel="stylesheet" href="css/main.css" />
    <!-- versión de desarrollo, incluye advertencias de ayuda en la consola -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- versión de producción, optimizada para tamaño y velocidad  -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->
  </head>
  <body>
    <main id="app">
      <header class="favorites">
        <section id="usuarios">
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
        </section>
        <section id="repositorios">
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
          <article>1</article>
        </section>
      </header>

      <article class="formulario">
        <div class="content">
          <form @submit.prevent="buscar">
            <header>
              <h1 class="content_title">Buscador GitHub</h1>
            </header>
            <section class="buscador">
              <div class="form-group">
                <input
                  v-model="search"
                  type="search"
                  id="buscar"
                  name="buscar"
                  required
                  placeholder=""
                />
                <label for="buscar">Frase a Buscar </label>
              </div>
              <div class="form-group">
                <select v-model="params" name="tipo" id="tipo" required placeholder="">
                  <option value="" selected></option>
                  <option value="users">Por Usuario</option>
                  <option value="repos">Por Repositorios</option>
                  <option value="topics">Por Topics (separados con espacios)</option>
                </select>
                <label for="tipo">Tipo de Búsqueda </label>
              </div>
              <input :disabled type="submit" value="Buscar" />
            </section>
            <footer class="result">
              <template v-for="res in result">
                <section v-if="res && params=='users'">
                  <img :src="res.avatar_url" :alt="res.login" />
                  <article>
                    <header>
                      <a :href="res.html_url" target="_blank">
                        <h2>{{ res.name ? res.name : res.login }}</h2>
                      </a>
                      <span v-if="res.location">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                        >
                          <title>SVG de un planeta</title>
                          <path
                            d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"
                          ></path>
                        </svg>
                        {{ res.location }}
                      </span>
                    </header>
                    <p v-if="res.bio">{{ res.bio }}</p>
                    <ul>
                      <li v-if="res.created_at">
                        creado: {{ fecha(res.created_at) }} - actualizado: {{ fecha(res.updated_at)
                        }}
                      </li>
                      <div id="dataRedes">
                        <li
                          v-if="res.public_repos"
                          :title="'Proyectos Públicos: '+res.public_repos"
                        >
                          <button>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              fill="none"
                              stroke-width="1.3"
                              viewBox="0 0 24 24"
                            >
                              <path
                                stroke="#000"
                                stroke-linecap="round"
                                d="M4 19V5a2 2 0 0 1 2-2h13.4a.6.6 0 0 1 .6.6v13.114"
                              />
                              <path
                                stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M15 17v5l2.5-1.6L20 22v-5"
                              />
                              <path stroke="#000" stroke-linecap="round" d="M6 17h14" />
                              <path
                                stroke="#000"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 17a2 2 0 1 0 0 4h5.5"
                              />
                            </svg>
                          </button>
                        </li>
                        <li>
                          <a
                            v-if="res.email"
                            :href="'mailto:'+res.email"
                            :title="'Contacte con '+res.login+' por el correo '+res.email"
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                            >
                              <path
                                d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"
                              ></path>
                              <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
                            </svg>
                          </a>
                          <a
                            v-if="res.blog"
                            :href="res.blog"
                            :title="'Visita la web de '+res.login"
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            <svg
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12s4.477 10 10 10"
                                stroke="#000000"
                                stroke-width="1.3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M13 2.05S16 6 16 12"
                                stroke="#000000"
                                stroke-width="1.3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M11 21.95S8 18 8 12s3-9.95 3-9.95"
                                stroke="#000000"
                                stroke-width="1.3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M2.63 15.5H12"
                                stroke="#000000"
                                stroke-width="1.3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M2.63 8.5h18.74"
                                stroke="#000000"
                                stroke-width="1.3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                clip-rule="evenodd"
                                d="M21.879 17.917c.493.304.462 1.043-.046 1.101l-2.567.29-1.151 2.313c-.228.46-.933.235-1.05-.333l-1.255-6.116c-.098-.479.334-.78.75-.524l5.319 3.271z"
                                stroke="#000000"
                                stroke-width="1.3"
                              />
                            </svg>
                          </a>
                          <a
                            v-if="res.twitter_username"
                            :href="'https://twitter.com/'+res.twitter_username"
                            :title="'Visita el perfil de '+res.login"
                            target="_blank"
                            rel="noopener noreferrer"
                          >
                            <svg
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M16.82 20.768 3.753 3.968A.6.6 0 0 1 4.227 3h2.48a.6.6 0 0 1 .473.232l13.067 16.8a.6.6 0 0 1-.474.968h-2.48a.6.6 0 0 1-.473-.232z"
                                stroke="#000000"
                                stroke-width="1.3"
                              />
                              <path
                                d="M20 3 4 21"
                                stroke="#000000"
                                stroke-width="1.3"
                                stroke-linecap="round"
                              />
                            </svg>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </article>
                </section>

                <section v-if="res && (params=='repos' || params=='topics')">
                  <h2>repos</h2>
                </section>
              </template>
              <output v-if="error"> {{ error }} </output>
            </footer>
          </form>
        </div>
      </article>
      <svg
        preserveAspectRatio="none"
        viewBox="0 0 1200 120"
        xmlns="http://www.w3.org/2000/svg"
        style="fill: #ffffff; width: 100%; height: 95px; transform: rotate(180deg)"
      >
        <path
          d="M0 0v46.29c47.79 22.2 103.59 32.17 158 28 70.36-5.37 136.33-33.31 206.8-37.5 73.84-4.36 147.54 16.88 218.2 35.26 69.27 18 138.3 24.88 209.4 13.08 36.15-6 69.85-17.84 104.45-29.34C989.49 25 1113-14.29 1200 52.47V0z"
          opacity=".25"
        />
        <path
          d="M0 0v15.81c13 21.11 27.64 41.05 47.69 56.24C99.41 111.27 165 111 224.58 91.58c31.15-10.15 60.09-26.07 89.67-39.8 40.92-19 84.73-46 130.83-49.67 36.26-2.85 70.9 9.42 98.6 31.56 31.77 25.39 62.32 62 103.63 73 40.44 10.79 81.35-6.69 119.13-24.28s75.16-39 116.92-43.05c59.73-5.85 113.28 22.88 168.9 38.84 30.2 8.66 59 6.17 87.09-7.5 22.43-10.89 48-26.93 60.65-49.24V0z"
          opacity=".5"
        />
        <path
          d="M0 0v5.63C149.93 59 314.09 71.32 475.83 42.57c43-7.64 84.23-20.12 127.61-26.46 59-8.63 112.48 12.24 165.56 35.4C827.93 77.22 886 95.24 951.2 90c86.53-7 172.46-45.71 248.8-84.81V0z"
        />
      </svg>
    </main>

    <script type="module" src="js/main.js"></script>
  </body>
</html>
