:root {
  /*  ? Estilos de texto */
  --tex-boton: #fff;
  --tex-aler: #b92424;
  --tex-exito: rgb(107, 228, 107);

  /* ? Etilos de fondos */
  --color-bordes: rgba(0, 0, 0, 0.5);
  --color-boton: #2271b1;
  --color-botonHover: #2271b1;
  --color-nota: rgb(255, 243, 131);
  --color-notaConten: rgb(250, 244, 192);
  --color-aler: #fac8c8;
  --color-exito: rgb(107, 228, 107);
  --estilo-tex: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
}
