@import url('__variables.css');
@import url('__estandar.css');

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(
    90deg,
    var(--body-color-secundario),
    var(--body-color-primario)
  );
  background: linear-gradient(90deg, var(--body-color-secundario), var(--body-color-primario));

  opacity: 90%;
  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
  }
}
header.favorites {
  display: flex;
  gap: 10px;
  width: 100vw;
  max-height: 25%;
  padding: 10px;
  section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    z-index: 1;
    min-height: 100px;
    width: 50%;
    max-height: 200px;
    overflow-x: auto;
    white-space: nowrap;
    article {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 5px;
      background: var(--conten-color);
    }
  }
  section::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  section:hover::after {
    opacity: 0; /* Oculto por defecto */
    visibility: hidden; /* Oculto por defecto */
  }
  section#usuarios::after {
    content: 'Usuarios'; /* El texto que quieres que aparezca */
  }
  section#repositorios::after {
    content: 'Repositorios'; /* El texto que quieres que aparezca */
  }
}

article.formulario {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  .content {
    z-index: 2;
    display: flex;
    padding: 20px 35px 35px;
    width: 90%;
    max-width: 600px;
    position: absolute;
    border-radius: 30px 100px 30px 100px;
    flex-direction: column;
    background: var(--conten-formulario);
    box-shadow: 0 2px 6px var(--conten-shadow);
    h1 {
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 10px;
      text-align: center;
      margin-bottom: 10px;
    }
    .buscador {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 10px;
      .form-group {
        position: relative;
        margin-top: 25px;
        flex: 49%;
      }

      label {
        position: absolute;
        top: 10px;
        left: 10px;
        color: var(--text-label);
        transition: 0.2s ease all;
        pointer-events: none;
      }
      input,
      select {
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 100%;
        background: var(--input-color);
        color: var(--tex-input);
      }

      input:focus + label,
      input:not(:placeholder-shown) + label,
      select:focus + label,
      select:has(option[value='']:not(:checked)) + label {
        top: -25px;
        left: 10px;
        font-size: 14px;
        color: var(--text-color);
      }
      input[type='submit'] {
        background: var(--botton);
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 5px;
        color: var(--text-color);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        margin-top: 10px;
      }
      input[type='submit']:focus-visible {
        outline: 3px solid color-mix(in srgb, var(--botton) 40%, white);
        outline-offset: 2px;
      }
      input[type='submit']:hover {
        background: var(--body-color-primario);
        color: var(--conten-shadow);
        outline: 3px solid color-mix(in srgb, var(--botton) 40%, white);
        outline-offset: 2px;
      }
      input[type='submit']:disabled {
        background-color: var(--input-color);
        color: var(--text-label);
        cursor: not-allowed;
        opacity: 0.6;
        border: 1px solid var(--text-label);
      }
    }
    footer {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 5px;
      overflow-x: auto;
      max-height: 400px;
      font-size: 12px;
      letter-spacing: 0.2rem;
      section,
      output {
        display: grid;
        grid-template-columns: 1fr 5fr;
        position: relative;
        width: 100%;
        padding: 10px;
        border: 1px solid var(--text-color);
        align-items: center;
        img {
          width: 80px;
          height: 80px;
        }
        article {
          display: flex;
          flex-direction: column;
          gap: 3px;
          header {
            display: flex;
            justify-content: space-between;
            span {
              display: flex;
              align-items: center;
              gap: 10px;
              svg {
                fill: var(--text-label);
              }
            }
          }
          #dataRedes {
            display: flex;
            flex-direction: inherit;
            align-items: center;
            justify-content: space-between;
            a,
            button {
              padding: 5px;
              display: inline-flex;
              border: 1.5px solid var(--text-color);
              border-radius: 0.5rem;
            }
            botton {
              background: transparent;
              cursor: pointer;
            }
          }
        }
      }
      output {
        grid-template-columns: 1fr;
      }
    }
    footer:not(:has(section)):not(:has(output)) {
      background-image: url(../img/search.svg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
/* article {

  footer {
    margin-top: 1rem;
    width: 100%;
    height: 150px;
    background-color: var(--body-color-secundario);
    background-image: url(../img/search.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
 */
