@import url('__variables.css');
@import url('__estandar.css');

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(
    90deg,
    var(--body-color-secundario),
    var(--body-color-primario)
  );
  background: linear-gradient(90deg, var(--body-color-secundario), var(--body-color-primario));

  opacity: 90%;
  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
  }
}