/* * Estilos Variables */
@import url('./css/variables.css');

/* # clases globales */
* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-segundari);

  margin: 0;
  h3,
  h4 {
    text-wrap: balance;
  }
  & p {
    text-wrap: pretty;
  }
  .flex-colum {
    display: flex;
    flex-direction: column;
  }
}

/* # configuracion de ventanas  */
body {
  .container {
    margin: 5px auto;
    align-items: center;
    width: 100%;
    max-width: 800px;
    & #formulario,
    #pintarNotas {
      width: 90%;
    }
    & h1#titulo {
      display: flex;
      flex-direction: row;
      font: 3rem var(--font-primari);
      width: 90%;
      font-weight: 600;
      justify-content: space-evenly;
      margin: 1rem auto;
      align-items: center;
      & span#favicon {
        background-image: var(--svgFavicon);
        background-repeat: no-repeat;
        width: 20vw;
        height: 20vw;
        max-width: 60px;
        max-height: 60px;
      }
      h1#titulo:hover {
        transform: rotate(20deg);
      }
    }
    & #alerNotas {
      background: var(--color-aler);
      justify-content: space-evenly;
      padding-block: 10px;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      width: 90%;
      display: none;
      & h2 {
        color: var(--tex-aler);
        & span {
          margin-right: 5px;
        }
      }
    }
    .boton {
      cursor: pointer;
    }
  }
}

#formulario {
  & input[type='text'],
  button,
  textarea {
    padding: 10px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 1px ridge var(--color-bordes);
    font-weight: 900;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px var(--tex-boton), 0 0 0 4px var(--color-boton);
      transition: box-shadow 0.3s ease;
    }
  }
  button {
    background: var(--color-boton);
    color: var(--tex-boton);
    border: 0;
  }
}

#pintarNotas {
  & #sinNotas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    & h3 {
      transform: rotate(-6deg) translateX(-3ch) translateY(1ch);
      position: absolute;
      font-size: 1.5rem;
    }
    & spam {
      margin-top: 20px;
      width: 340px;
      height: 300px;
      background-image: var(--svgSinNotas);
    }
  }
  & .tarjeta {
    display: flex;
    padding: 10px;
    background: var(--color-nota);
    margin-top: 0.5rem;
    align-items: center;
    & .tituloNota {
      flex-grow: 1;
    }
  }
  details[name='nota'] {
    font-weight: 100;
    .ResueltoTrue {
      background: var(--color-resuelto);
      opacity: 50%;
      transition: all 11s ease-in-out 0.5s;
      & h1 {
        display: inline-block;
        text-decoration: line-through var(--tex-aler) 0.3rem;
      }
      + .contenidoNota {
        background: var(--color-resueltoConten);
        opacity: 40%;
      }
    }
    .ResueltoFalse {
      background: var(--color-nota);
    }
    .contenidoNota {
      font-size: 1.5rem;

      border-radius: 0 0 10px 10px;
      background: var(--color-notaConten);
      padding: 10px;
    }

    #logica {
      display: flex;
      flex-direction: row;
      & span {
        width: 7vw;
        height: 7vw;
        max-width: 40px;
        max-height: 40px;
        margin: auto 0.5vw;
      }
      :is(.tarjeta.ResueltoTrue span:first-child) {
        filter: brightness(100%);
        opacity: 100%;
      }

      #Resuelto {
        background-image: var(--svgResuelto);
      }
      :is(.tarjeta.ResueltoTrue #Resuelto) {
        background-image: var(--svgRegresar);
      }
      #Editar {
        background-image: var(--svgEditar);
      }
      #Archivar {
        background-image: var(--svgArchivar);
      }
      #Eliminar {
        background-image: var(--svgEliminar);
      }
    }
  }
}
