/* * Estilos Variables */
@import url(css/variables.css);
/* # clases globales */
* {
  margin: 0;
  padding: 0;
  font-family: var(--estilo-tex);
  .flex-colum {
    display: flex;
    flex-direction: column;
  }
}

/* # configuracion de ventanas  */
.container {
  margin: 5px auto;
  align-items: center;
  width: 100%;
  max-width: 800px;
  & #formulario,
  #pintarNotas {
    width: 90%;
  }
  h1 {
    margin: 0.5rem auto;
  }
  & #alerNotas {
    background: var(--color-aler);
    padding-block: 10px;
    margin-bottom: 1rem;
    width: 90%;
    border-radius: 0.5rem;

    & h2 {
      color: var(--tex-aler);
      margin-inline: 10px;
    }
  }
}

#formulario {
  & input[type='text'],
  button,
  textarea {
    padding: 10px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 1px ridge var(--color-bordes);

    &:hover {
      box-shadow: 0 0 0 2px var(--tex-boton),
        0 0 0 4px var(--color-boton);
      transition: all 11s box-shadow;
    }
  }
  button {
    background: var(--color-boton);
    color: var(--tex-boton);
    border: 0;
    cursor: pointer;
  }
}

#pintarNotas {
  & .tarjeta {
    display: flex;
    padding: 10px;
    background: var(--color-nota);
    margin-top: 0.5rem;
    align-items: center;
    & .tituloNota {
      cursor: pointer;
      flex-grow: 1;
    }
  }
  .contenidoNota {
    border-radius: 0 0 10px 10px;
    background: var(--color-notaConten);
    padding: 10px;
  }
}
